@using Railway.Core.Entities;
@model Railway.Core.Entities.Buillet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Buillet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destinations" class="control-label"></label>
                <input asp-for="Destinations" class="@(ViewBag.Destinations as SelectList)" />
            </div>
            <div class="form-group">
                <label asp-for="Trains" class="control-label"></label>
                <input asp-for="Trains" class="@(ViewBag.Trains as SelectList)" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Exemplaires" value="@(new List<Exemplaire>())" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
